<div
  class="container"
  style="
     background-color:rgb(118, 211, 214);
    margin-bottom: 0px;
  "
>
  <h3 class="display-3 textalign" style="text-align: center;">
    E-MART
  </h3>
  <p style="text-align: center;">
    <b
      >For Exciting Deals On Mobile Phones Use E-MART</b
    >
  </p>
</div>
<div class="container" id="content">
  <div class="row">
    <div class="col-6" style="text-align: right;">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/71qP%2BfMtbDL._SL1500_.jpg"
        style="height: 250px; width: 270px;"
      />
    </div>
    <div class="col-6">
      <div class="row headt">
        <h3 class="headt"><b>Mobile Phone</b></h3>
      </div>
      <p>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </p>
      <div class="row head">
        <b><h3>₹10000</h3></b>
      </div>
      <div class="row para">
        <p
          style="text-align: justify; margin-right: 40px; padding-right: 140px;"
        >
        2 GB RAM | 16 GB ROM | Expandable Upto 256 GB
        15.75 cm (6.2 inch) HD+ Display
        13MP + 2MP | 8MP Front Camera
        4230 mAh Battery
        Qualcomm Snapdragon 450 Processor
        </p>
      </div>
      <div class="row">
        <button class="btn btn-danger" (click)="initPay()">
          Pay with Razorpay
        </button>
      </div>
    </div>
  </div>
</div>

